*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@font-face {
font-family: Comfortaa;
src: url(Comfortaa/Comfortaa-VariableFont_wght.ttf);

font-family: Comfortaa-Medium;
src: url(Comfortaa/static/Comfortaa-Medium.ttf);
}

html{
  font-family: Comfortaa-Medium;
  font-size: 10px;
}

/* nav css start here*/

nav{
display: flex;
justify-content: space-between;
padding: 6px 30px;
font-size: 25px;
background-color: #ffffff;
position: sticky;
top: 0;
z-index: 50;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.menu{
display: flex;
list-style: none;
align-items: center;
gap: 20px;
}

.menu-item a{
text-decoration: none;
color: #020202;
}

.menu-item a:hover{
background-color: #45a049;
padding: 2px;
border-radius: 2px 8px 2px 8px;
}

.logo{
font-size: 25px;
font-weight: 700;
color: #000000;
cursor: pointer;
}

.logo img{
width: 145px;
height: 65px;
}

.menu-icon{
width: 30px;
}

.close-icon{
width: 30px;
}

.menu-btn{
display: none;
}

@media (max-width:768px) {
.menu{
    position: absolute;
    top:0;
    right: 0;
    background-color: #ededed;
    font-size: 25px;
    width: 100%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.5s;
}

.nav-open .menu{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 99;
}
.menu-item a{
    color: #000;
}

.menu-btn{
    display: block;
    font-family: Comfortaa-Medium;
}

.close-icon{
    display: none;
}

.nav-open .close-icon{
    display: block;
    position: absolute;
    top: 20px;
    z-index: 100;
}

}

.dropbtn {
background-color: #45A049;
color: rgb(255, 255, 255);
padding: 16px;
font-size: 20px;
border: none;
border-radius: 2px 8px 2px 8px;
font-family: Comfortaa-Medium;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
max-width: 100%;
font-family: Comfortaa-Medium;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #29c331;}

/* nav css end here */

/* slideshow css */

.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
max-width: 100%;
position: relative;
/* margin-top: 10px; */
margin: auto;
padding-top: 0px;
padding-bottom: 10px;
}


.slideshow-container .mySlides img{
width: 100%;
height: 500px;
object-fit: cover;

}

/* .mySlides img{
  width: 100%;
} */

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

/* Product Section CSS Start */

.product-section{
margin: 20px;
height: fit-content;
width: auto;
background-color: #45A049;
padding: 10px;
}

.product-section h2{
font-size: 50px;
color: #fff;
text-align: center;
font-weight: 700;
}

.main-product-section{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

.product-col{
background-color: #ffffff;
height: 380px;
width: 300px;
border-radius: 8px;
margin: 10px;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding: 8px;
}

.product-col p{
font-size: 3em;
text-align: center;
font-weight: bolder;
margin-bottom: 4px;
}

.product-col img{
width: 100%;
height: 300px;
border-radius: 8px;

}

.product-col:hover{
background-color: #000;
color: #fff;
}

@media only screen and (max-width: 768px) {
.product-section{
  margin: 0;
}
.product-col{
  width: 100%;
}
}
/* Product Section CSS End */


/* we deals in */

.we-deals-in{
width: 100%;
height: auto;
padding: 10px;
}

.we-sub-deals{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-items: center;
flex-direction: row;
justify-content: center;
}

.wedeals{
width: 282px;
height: 130px;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 8px;
margin: 10px;
display: grid;
align-items: center;
justify-content: center;
overflow: hidden;
transition: height 1s; 
-webkit-transition: height 1s;
font-size: 15px;
padding: 4px;
transition: all 1.5s ease-in-out;
}

.wedeals:hover{
height: 400px;
transition: all;
}

.weDealBtn {
background-color: #45A049;
color: rgb(255, 255, 255);
padding: 16px;
font-size: 20px;
border: none;
border-radius: 2px 8px 2px 8px;
font-family: Comfortaa-Medium;
text-align: center;
text-decoration: none;
}

.weDealBtn:hover{
background-color: #29c331;
}

.we-deals-in .wedeals img{
width: 100%;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 8px;
padding: 5px;
margin: 3px;

}

.we-deals-h2 h2{
font-size: 36px;
/* text-decoration:underline; */
text-align: center;
}

@media only screen and (max-width: 768px) {
.we-deals-in{
  flex-direction: column;
}

.wedeals{
  width: 100%;
}

.we-deals-in .wedeals img{
  width: 100%;
  }

.we-deals-in >.wedeals{
  width: 365px;
  margin: 16px;
}

.we-deals-h2{
  margin-top: 20px;
}


}



/* Footer Section */

footer{
background-color: #ffffff;
color: #000000;
padding: 36px;
bottom: 0;
font-size: 16px;
box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer a{
color: #090909;
text-decoration: none;
}

footer a:hover{
text-decoration: underline;
}

footer .footer-container{
display: flex;
justify-content: space-around;
flex-direction: row;
}

footer .footer-container .footer-left img{
width: 250px;
height: 90px;
}

footer .footer-left{
align-self: center;
}

footer ul{
list-style: none;
margin-top: 16px;
}

footer li{
margin: 8px;
}

.footer .social-icons{
margin-top: 20px;
background-color: #000000;
padding: 10px;
max-width: 260px;
}

footer .social-icons img{
margin: 10px 20px;
}


.footer-container .footer-right .social-icons img{
width: 30px;
height: 30px;
}

footer .footer-right p{
margin-top: 10px;
}




@media only screen and (max-width: 768px) {
footer .footer-container{
  white-space:normal;
  flex-direction: column;
}

.footer-left, .footer-right, .footer-center{
  padding-bottom: 20px;
}
}

/* google maps star */

.address{
background: #45A049;
padding: 8px 10px;
align-items: center;
font-size: 16px;
margin: 20px;
}
.address h2{
font-size: 36px;
color: #fcfcfc;
margin: 10px;
text-align: center;
}

.location{
display: flex;
flex-direction: row;

}

.address .location .loc-add{
color: #fcfcfc;
padding: 10px;
justify-items: center;
}

.google-map{
width: auto;
height: auto;

}


.loc-add{
text-align: center;
font-size: 40px;
margin-left: 25px;
margin-top: 40px;
}

@media only screen and (max-width: 768px) {
.address{
  margin: 0;
}
.google-map{
  width: auto;
}
.google-map iframe{
  width: 350px;
  align-content: center;
  height: 280px;
}
.location{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.loc-add{
  font-size: 20px;
  margin-left: 0px;
  margin-top: 10px;

}
} 


/* Contact section start */

.contact-container{
font-size: 16px;
border-radius: 5px;
background-color: #f2f2f2;
padding: 20px;
z-index: 69;
font-family: Comfortaa-Medium;
}

.contact-title{
font-size: 36px;
font-weight: 800;
text-align: center;
}

input[type=text], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-family: Comfortaa-Medium;
}

input[type=email], select {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
font-family: Comfortaa-Medium;
}

input[type=submit] {
width: 100%;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
font-family: Comfortaa-Medium;
}

input[type=submit]:hover {
background-color: #45a049;
}

textarea {
width: 100%;
height: 150px;
padding: 12px 20px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #fff;
resize: none;
font-family: Comfortaa-Medium;
}


.footer-credit{
background-color: #000;
width: 100%;
height: 6vh;
text-align: center;
display: grid;
justify-content: center;
align-items: center;
color: #fff;
}

.footer-credit p{
font-size: 2em;
font-weight: 400;
}

.footer-credit a{
  text-decoration: none;
  color: #fff;
}